@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/functions";

.task {
  position: relative;
  max-width: px2Rem(300px);
  min-height: px2Rem(20px);
  padding: 4px 8px 4px 6px;

  @include display-flex();
  @include aligns(flex-start, space-between);

  color: $textColor;
  background-color: $backgroundTaskColor;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px #00000000, 0px 1px 1px #03040480,
    0px 0px 1px #03040480;
  cursor: pointer;
  z-index: 0;
  overflow-wrap: anywhere;

  p {
    margin: 0;
    z-index: 0;
  }

  span {
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
  }

  &:hover span {
    opacity: 1;
    transition: 0.3s;
  }
}

.task-fixed {
  position: fixed;
  z-index: 10;
}

.task-edit-form {
  z-index: 30;
}

.task-edit-filter {
  position: fixed;

  @include reset-position();

  background: $backgroundFilter;
  z-index: 20;
}

.task-edit-panel {
  position: absolute;

  @include set-position(0, unset, unset, calc(100% + 10px));
}
