@import "@/styles/variables";
@import "@/styles/mixins";

.task-edit-action {
  @include display-flex();
  @include aligns(center);

  gap: 5px;
  margin: 0 0 4px 8px;
  padding: 6px 12px 6px 10px;
  color: $textColor;
  white-space: nowrap;
  cursor: pointer;
  background: $backgroundFilter;
  border-radius: 3px;
  transition: transform 85ms ease-in;

  &:hover {
    color: white;
    background: #000c;
    transform: translateX(5px);
  }
}
