@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/functions";

.textarea-gray {
  background: $backgroundTaskColor;
  border-radius: 3px;

  textarea.form-control {
    @include heights(unset, px2Rem(76px), px2Rem(162px));

    padding: 8px 8px 4px 12px;
    color: $textColor;
    line-height: px2Rem(20px);
    font-size: px2Rem(14px);
    font-weight: 400;

    @include reset-textarea();

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: $textColor;
    }
  }
}
