$rem: 16px;

$backgroundSectionColor: #101204;
$backgroundTaskColor: #22272b;
$textColor: #b6c2cf;
$textDarkColor: #1d2125;

$btnColor: #579dff;
$btnHoverColor: #85b8ff;
$btnTransparentHoverColor: #a6c5e229;

$backgroundFilter: #0009;
