@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/functions";

.board-section {
  @include display-flex(column);
  @include widths(unset, px2Rem(272px), px2Rem(272px));
  @include heights(100%, unset, calc(100vh - px2Rem(90px)));

  background: $backgroundSectionColor;
  border-radius: 12px;
  box-shadow: inset 0px 0px 0px 1px #00000000, 0px 1px 1px #03040480,
    0px 0px 1px #03040480;
  overflow: hidden;
}

.board-section-header {
  padding: 14px 8px;
  flex: 0 0 auto;

  @include heights(unset, px2Rem(20px), px2Rem(48px));

  background: $backgroundSectionColor;

  &-title {
    padding: 0px 8px 0px 12px;
    height: px2Rem(28px);
    width: px2Rem(224px);
    color: $textColor;
    font-size: px2Rem(14px);
    font-weight: 600;
    overflow: hidden;
    overflow-wrap: break-word;
  }
}

.board-section-tasks {
  flex: 1 1 auto;

  @include display-flex(column);

  gap: 7px;
  margin: 0 4px;
  margin-bottom: 7px;
  padding: 1px 4px 0;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.board-section-add-button {
  @include display-flex();
  @include aligns(center);
  @include gaps(6px);

  margin: 8px;
  padding: 4px 8px 4px 6px;
  color: $textColor;
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: $btnTransparentHoverColor;
    color: $textColor;
  }
}

.board-section-add-form {
  margin: 8px;
}

.board-section-add-form-textarea {
  margin-bottom: 10px;
}

.board-section-add-form-btns {
  @include display-flex();
  @include aligns(center);
  @include gaps(4px);

  button {
    @include reset-button();

    cursor: pointer;
  }

  // add
  & button:first-child {
    min-width: px2Rem(152px);
    padding: 6px 12px;
    color: $textDarkColor;
    font-size: px2Rem(14px);
    font-weight: 400;
    line-height: px2Rem(20px);
    border-radius: 3px;
    background: $btnColor;

    &:hover {
      background-color: $btnHoverColor;
    }
  }

  // close
  & button:last-child {
    @include square(px2Rem(32px));

    font-size: px2Rem(24px);
    line-height: px2Rem(32px);
    color: #8c9bab;

    &:hover {
      color: #9fadbc;
    }
  }
}
